.App {
    text-align: center;
}

.header-logo {
    width: 10vw;
    margin-right: 10px;
}

.App-header {
    background-color: #033ea4;
    height: 30vh;
    padding: 20px;
}

h2 {
    color: white;
    font-size: 3vw;
    margin-top: 10px;
    stroke-width: 2px;
    -webkit-text-stroke: 1px black;
}