.upload-preview {
    display: flex;
    max-width: 100%;
    margin-top: 2em;
}

.upload-preview div {
    width: 50%;
}

.upload-preview * {
    margin: 0px 5px 10px 5px;
}

.upload {
    padding-left: 80px;
}

.preview {
    padding-right: 80px;
}

.image-preview {
    max-width: 50%;
    max-height: 20em;
}

.product-name {
    width: 50%;
}

.dropzone {
    width: 80%;
    margin: auto;
}

.dropzone:hover {
    background-color: azure;
    height: 20em;
    width: inherit;
}

.dropzone p {
    font-size: 3vw;
    margin: 10px;
}